/* You can add global styles to this file, and also import other style files */

@import "fonts";

::-webkit-scrollbar {
  display: none;
}

body {
  background: rgb(229,230,229);
  color: #545555;
  font: 400 (1em / 1.25) NunitoSans, Helvetica, Arial, sans-serif;
}

* {
  user-select: none;
}
