<app-gantt-options-panel
  *ngIf="inputOptionsPanelActive"
  [viewScale]="viewScale"
  (viewScaleChange)="viewScaleChanged($event)"
  [editScale]="editScale"
  (editScaleChange)="editScaleChanged($event)"
  [fromRange]="fromRange"
  (fromRangeChange)="fromRangeChanged($event)"
  [toRange]="toRange"
  (toRangeChange)="toRangeChanged($event)"></app-gantt-options-panel>

<div class="card m-2" id="gantt-panel">

  <div class="card-header">
    Painel Gantt
  </div>

  <div class="card-body">

    <div class="container-fluid h-100">

      <div class="row h-100 tables-container" (mousemove)="resizeTables($event)">

        <div class="tasks-description-container h-100 px-0" [style.width.px]="tasksDescWidth">
          <app-tasks-description
            (itemDraggedOrCollapsedEvt)="itemDraggedOrCollapsedEvtFired($event)"
            [scrollPosition]="scrollPosition"
            (scrollPositionChange)="scrollPositionChanged($event)"
            [projectsObservable]="getProjects()"
            [(projectsKeys)]="projectsKeys"
            [datePickerActive]="datePickerActive"
            [timePickerActive]="timePickerActive"
            (updateProjects)="initInspectProjects()"></app-tasks-description>

        </div>

        <div class="tasks-description-toggle d-flex align-items-center justify-content-center"
             (click)="toggleTasksDescription()">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div>

        <div class="tasks-division"
             (mousedown)="turnOnGrabber($event)"
             (mouseup)="turnOffGrabber($event)"
             [style.width.px]="tasksDivisionWidth"></div>

        <div class="tasks-container h-100 px-0" [style.width.px]="tasksWidth">
          <div [ngSwitch]="scaleState" class="h-100">

            <div *ngSwitchCase="'hours'" class="h-100">

              <app-hours-scale
                [itemDraggedOrCollapsedEvt]="itemDraggedOrCollapsedEvt"
                [verticalScrollPositionY]="scrollPosition"
                (verticalScrollPositionChange)="scrollPositionChanged($event)"
                [horizontalScrollContainerWidth]="tasksWidth"
                [elmtCellWidth]="cellWidth"
                (itemMovedEvt)="itemMovedEvt()"
                [projectsObservable]="getProjects()"
                [projectsKeys]="projectsKeys"
                [viewScale]="viewScale"
                (viewScaleChange)="viewScaleChanged($event)"
                [editScale]="editScale"
                (editScaleChange)="editScaleChanged($event)"
                [fromRange]="fromRange"
                (fromRangeChange)="fromRangeChanged($event)"
                [toRange]="toRange"
                (toRangeChange)="toRangeChanged($event)"></app-hours-scale>

            </div>

          </div>
        </div>

      </div>


    </div>

  </div>

</div>
