#gantt-panel {
  height: 80vh;

  .card-header {
    height: 7%;
  }

  .card-body {
    height: 93%;
  }
}

div.tasks-description-toggle {
  width: 1%;
  background-color: #e8eaea;
  font-size: 1.5rem;
  i {
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
  }
  &.active {
    i {
      transform: rotate(180deg);
    }
  }
  &:hover {
    cursor: pointer;
  }
}

div.tasks-description-container {
  overflow-x: auto;
  border: 0.5px #d9dada solid;
}

div.tasks-division {
  background-image: linear-gradient(to right, white, #b8baba, white);
}

div.tasks-division:hover {
  cursor: ew-resize;
}

div.tasks-container {
  overflow-x: auto;
  border: 0.5px #d9dada solid;
}

