
#tasks-description {

  width: 100%;
  overflow-x: auto;

  .row {
    min-width: 30rem;
    box-sizing: content-box;
    border-bottom: 1px solid #d9dada;
    height: 2rem;

    > div {
      white-space: nowrap;
      overflow-x: auto;

    }

    div.task-name {
      width: 10rem;
    }

    div.task-from-date, div.task-to-date {
      width: 10rem;
    }

    &:hover {
      background-color: rgba(117, 119, 119, 0.2);
    }
  }
}


.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}
