<div id="tasks-description" class="container-fluid px-0 h-100">
  <div class="row header">
    <div class="task-name">
      Nome
    </div>
    <div class="task-from-date">
      <i class="fa fa-calendar" aria-hidden="true"></i> De
    </div>
    <div class="task-to-date">
      <i class="fa fa-calendar" aria-hidden="true"></i> Até
    </div>
  </div>

  <div class="row header bg-light">
  </div>

  <div cdkDropList (cdkDropListDropped)="dropInside($event)" [cdkDropListData]="projects">

    <div class="scroll-viewport" #scrollViewPort>

      <div class="scroll-viewport-content" [style.margin-top.px]="freeSpaceTop">
        <div *ngFor="let projectKey of projectsKeysDatasource" cdkDrag [cdkDragData]="projectKey">

          <ng-container *ngTemplateOutlet="templateProject; context: {project: projects[projectKey]}"></ng-container>

        </div>
      </div>
    </div>

  </div>

</div>


<!-- templates de função recursiva para percorrer o objeto até ao fim (profundidade desconhecida) -->

<ng-template #templateProject let-project="project">

  <div class="row body">
    <div class="task-name"
         *ngIf="project._hasChildren || project._hasTasks"
         [ngStyle]="project._descriptionStyle">

      <i class="fa fa-chevron-up" aria-hidden="true"
         (click)="toggleCollapseProject(project)" *ngIf="!project.collapsed"></i>
      <i class="fa fa-chevron-down" aria-hidden="true"
         (click)="toggleCollapseProject(project)" *ngIf="project.collapsed"></i> {{project.name}}

    </div>

    <div class="task-name"
         *ngIf="!(project._hasChildren) && !project._hasTasks"
         [ngStyle]="project._descriptionStyle">
      <i class="fa fa-minus" aria-hidden="true"></i> {{project.name}}
    </div>

    <div class="task-from-date">
      {{ project.date.from | date: 'd MMM yyyy - HH:mm' }}
    </div>

    <div class="task-to-date">
      {{ project.date.to | date: 'd MMM yyyy - HH:mm' }}
    </div>
  </div>

  <ng-template [ngIf]="project._hasTasks && !project.collapsed">
    <div cdkDropList (cdkDropListDropped)="dropInside($event)" [cdkDropListData]="project.tasks">
      <div *ngFor="let task of project.tasks | keyvalue" cdkDrag [cdkDragData]="project.tasks[task.key]">
        <ng-container
          *ngTemplateOutlet="templateTask; context: { task: task.value }"></ng-container>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="project._hasChildren && !project.collapsed">
    <div cdkDropList (cdkDropListDropped)="dropInside($event)" [cdkDropListData]="project.projectChildren">
      <div *ngFor="let proj of project.projectChildren | keyvalue" cdkDrag
           [cdkDragData]="project.projectChildren[proj.key]">
        <ng-container
          *ngTemplateOutlet="templateProject; context: { project: proj.value }"></ng-container>
      </div>
    </div>
  </ng-template>

</ng-template>


<ng-template #templateTask let-task="task" let-index="index">

  <div class="row body">
    <div class="task-name"
         [ngStyle]="task._descriptionStyle">
      {{task.name}}
    </div>
    <div class="task-from-date">
      {{task.date.from | date: 'd MMM yyyy - HH:mm' }}
    </div>
    <div class="task-to-date">
      {{task.date.to | date: 'd MMM yyyy - HH:mm' }}
    </div>
  </div>

</ng-template>

