#tasks-content {
  position: relative;
  overflow: hidden;

  #background-content {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;

    #background-layer {
      position: absolute;

      .date-container {

        display: inline-block;
        position: relative;
        z-index: 10;

        .date-cell, .hours-cell {
          height: 2rem;
          line-height: 2rem;
          border: 1px solid #d9dada;
          border-bottom: none;
          border-right: none;
        }

        .hours-cell {
          display: inline-block;
          height: 2rem;
          line-height: 2rem;
          border: 1px solid #d9dada;
          border-bottom: none;
          border-right: none;
        }
      }

      .background-tasks-container {
        position: relative;
        z-index: 1;
        height: 26rem;
        overflow-x: hidden;
        overflow-y: auto;

        .guide-line {
          width: 1px;
          height: 100vh;
          position: absolute;
          background-color: #4bf7ff;
          z-index: 10;
          top: 0;

          .guide-line-time-info {
            position: absolute;
            left: 5px;
            border: 1px solid gray;
            background-color: lightgray;
            border-radius: 5px;
            padding: 10px;
          }
        }

        .background-tasks-content {

          div.item-resizable {
            display: flex;
            position: relative;
            margin-top: 1rem;
            height: 1rem;
            border-radius: 2px;
            z-index: 2;

            &:first-of-type {
              margin-top: 0.5rem;
            }

            .project-cell {
              overflow: hidden;
            }

            .project-cell:hover {
              cursor: pointer;
            }

            div.left-limit, div.right-limit {
              width: 30%;
              max-width: 30px;
              height: 100%;
            }

            div.left-limit:hover {
              cursor: w-resize;
            }

            div.right-limit:hover {
              cursor: e-resize;
            }

            div.left-circle, div.right-circle {
              display: none;
              position: absolute;
              top: 0.24rem;
              width: 0.5rem;
              border-radius: 50%;
              background-color: black;
              height: 0.5rem;


              &.hasPrevious {
                display: block!important;
              }

              &.hasNext {
                display: block!important;
              }

              &.active {
                display: block!important;
              }
            }

            div.left-circle {
              left: -0.6rem;
            }

            div.right-circle {
              right: -0.6rem;
            }

            &.hoverable:hover div.right-circle, &.hoverable:hover div.left-circle {
              display: block!important;
              cursor: copy;
            }

            &.hoverable:hover div.left-circle.hasPrevious {
              cursor: not-allowed;
            }
          }

          .link-container {
            position: absolute;
            margin-top: -1rem;
            height: 1rem;
            width: 200px;

            &:first-of-type {
              margin-top: 0.5rem;
            }

            svg.link {
              position: absolute;

              path {
                stroke-linecap: round;

              }
            }
          }

          .temporaryLink {
            position: absolute;
            z-index: -1;

            path {
              stroke-linecap: round;
            }
          }
        }
      }
    }
  }
}

