<div id="tasks-content" class="container-fluid h-100 px-0">

  <div id="background-content" #horizontalScrollViewPort class="container-fluid h-100 px-0">

    <div id="background-layer" class="container-fluid px-0"
         [style.width.px]="dateCellWidth * totalDateRange.length"
         [style.margin-left.px]="freeSpaceLeft">

      <ng-template ngFor let-date [ngForOf]="totalDateRange">
        <div class="date-container" [style.width.px]="dateCellWidth">
          <div class="date-cell text-center bg-light" [style.width.px]="dateCellWidth">{{date | date}}</div>
          <div class="hours-cell text-center bg-light" *ngFor="let hour of scaleRange"
               [style.width.px]="elmtCellWidth">{{hour | date: 'HH:mm'}}</div>
        </div>
      </ng-template>

      <div class="background-tasks-container" #verticalScrollViewPort>

        <div class="guide-line" *ngIf="guideLineVisible" [style.left.px]="guideLinePositionLeft">
          <div class="guide-line-time-info">
            {{guideLineTimeInfo | date: 'HH:mm'}}
          </div>
        </div>

        <div class="background-tasks-content" [style.margin-top.px]="freeSpaceTop" (mousemove)="draggingLink($event)"
             (mouseup)="linkDragged($event)">
          <ng-template ngFor let-itemKey [ngForOf]="itemsKeysDatasource">
            <ng-container *ngTemplateOutlet="itemTemplate; context: {item: items[itemKey]}"></ng-container>
          </ng-template>
        </div>

      </div>

    </div>

  </div>

</div>


<!--==================================================================-->

<ng-template #itemTemplate let-item="item">

  <div class="item-resizable"
       [ngClass]="{'hoverable': linkEditable}"
       cdkDrag
       cdkDragLockAxis="x"
       (cdkDragStarted)="startDrag($event)"
       (cdkDragMoved)="dragMoved($event, item)"
       (cdkDragEnded)="itemDragged($event, item)"
       [ngStyle]="item._detailsStyle"
       [style.left.px]="-freeSpaceLeft">

    <div class="left-circle" [ngClass]="{'hasPrevious': item._hasPrevious && linkActive}" (mouseup)="linkDraggedInTarget(item)"
         (click)="deleteLink(item)"></div>

    <div class="left-limit"
         cdkDrag
         cdkDragLockAxis="x"
         (cdkDragStarted)="startResizeTaskLeftSide($event, item)"
         (cdkDragMoved)="resizingTaskLeftSide($event, item)"
         (cdkDragEnded)="endResizeTaskLeftSide($event, item)"></div>

    <div class="project-cell"
         [style.width]="item._detailsStyle['width']"
         cdkDragHandle>
      {{item.name}}
    </div>

    <div class="right-limit"
         cdkDrag
         cdkDragLockAxis="x"
         (cdkDragStarted)="startResizeTaskRightSide($event, item)"
         (cdkDragMoved)="resizingTaskRightSide($event, item)"
         (cdkDragEnded)="endResizeTaskRightSide($event, item)"></div>

    <div class="right-circle" [ngClass]="{'hasNext': item._hasLinks && linkActive}" (mousedown)="startDragLink($event, item)"></div>

  </div>

  <ng-template [ngIf]="linkActive">
    <ng-container *ngTemplateOutlet="linksTemplate; context: {item: item}"></ng-container>
  </ng-template>

  <ng-template [ngIf]="item._hasChildren && !item.collapsed">

    <ng-template ngFor let-itemKey [ngForOf]="item._itemsChildrenKeys">
      <ng-container *ngTemplateOutlet="itemTemplate; context: {item: item.itemsChildren[itemKey]}"></ng-container>
    </ng-template>

  </ng-template>

</ng-template>

<!--====================================================================-->

<ng-template #linksTemplate let-item="item">

  <div class="link-container" [style.left.px]="-freeSpaceLeft">
    <ng-template [ngIf]="item._hasLinks && !item.collapsed">
      <ng-template ngFor let-link [ngForOf]="item.links">
        <svg class="link"
             [attr.width]="link.style['width']"
             [attr.height]="link.style['height']"
             [style.top.px]="link.style['top']"
             [style.margin-left]="link.style['margin-left']">
          <path [attr.d]="link.style['first-path']" fill="none" stroke-width="3" [attr.stroke]="item.color"></path>
          <path [attr.d]="link.style['second-path']" fill="none" stroke-width="3" [attr.stroke]="item.color"></path>
          <path [attr.d]="link.style['third-path']" fill="none" stroke-width="3" [attr.stroke]="item.color"></path>
          <path [attr.d]="link.style['fourth-path']" fill="none" stroke-width="3" [attr.stroke]="item.color"></path>
          <defs>
            <marker id='head'
                    orient='auto'
                    markerWidth='2'
                    markerHeight='4'
                    refX='0.1'
                    refY='2'>
              <!-- triangle pointing right (+x) -->
              <path d='M0,0 V4 L2,2 Z' fill="black"></path>
            </marker>
          </defs>
          <path [attr.d]="link.style['fifth-path']" fill="none" stroke-width="3" [attr.stroke]="item.color"
                marker-end="url(#head)"></path>
        </svg>
      </ng-template>
    </ng-template>
  </div>

  <!--<ng-template [ngIf]="item._hasChildren && !item.collapsed">

    <ng-template ngFor let-itemKey [ngForOf]="item._itemsChildrenKeys">
      <ng-container *ngTemplateOutlet="linksTemplate; context: {item: item.itemsChildren[itemKey]}"></ng-container>
    </ng-template>

  </ng-template>-->

</ng-template>
