<div class="card m-2" id="options-panel">
  <div class="card-header">
    Painel de opções
  </div>

  <div class="card-body">
    <div class="form-row">

      <h6 class="">
        Scale:
      </h6>

      <div class="form-group col-auto">
        <label for="inputScale">Tempo por célula</label>
        <select id="inputScale" class="form-control form-control-sm" [(ngModel)]="hourScaleSelected" (change)="hourScaleSelectedChanged(hourScaleSelected)">
          <option [ngValue]="0.25">15 min</option>
          <option [ngValue]="0.5">30 min</option>
          <option [ngValue]="1">1 hora</option>
          <option [ngValue]="3">3 horas</option>
          <option [ngValue]="6">6 horas</option>
          <option [ngValue]="24">1 dia horas</option>
        </select>
      </div>

      <h6 class="pl-5">
        Range:
      </h6>

      <div class="form-group col-auto">
        <label for="inputMinRange">De</label>
        <input type="date" id="inputMinRange" class="form-control form-control-sm"
               [max]="maxRangeSelected | date: 'yyyy-MM-dd'"
               [ngModel]="minRangeSelected | date: 'yyyy-MM-dd'"
               (ngModelChange)="minRangeSelectedChanged($event)" />
      </div>

      <div class="form-group col-auto">
        <label for="inputMaxRange">Até</label>
        <input type="date" id="inputMaxRange" class="form-control form-control-sm"
               [min]="minRangeSelected | date: 'yyyy-MM-dd'"
               [ngModel]="maxRangeSelected | date: 'yyyy-MM-dd'"
               (ngModelChange)="maxRangeSelectedChanged($event)" />
      </div>

    </div>
  </div>
</div>
