<table class="tasks-content table-hover table-striped">
  <thead>
  <tr>
    <th class="text-center" colspan="8">
      <div class="tasks-cell">Novembro 12, 2019</div>
    </th>
    <th class="text-center" colspan="8">
      <div class="tasks-cell">Novembro 13, 2019</div>
    </th>
    <th class="text-center" colspan="8">
      <div class="tasks-cell">Novembro 14, 2019</div>
    </th>
    <th class="text-center" colspan="8">
      <div class="tasks-cell">Novembro 15, 2019</div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
    <td>
      <div class="tasks-cell"></div>
    </td>
  </tr>
  </tbody>
</table>
