<div id="tasks-content" class="container-fluid h-100 px-0">

  <div *uiScroll="let day of dateRangeDataSource; let dayIndex = index" class="">
    <div class="row header scroll-horizontal-item" [style.width.px]="itemSize">
      <div class="col-12 text-center">{{day | date}}</div>
    </div>

    <div class="row body bg-light">

      <div class="task-cell" *ngFor="let scale of scaleRange"
           [style.width.px]="elmtCellWidth"> {{ scale | date: 'HH:mm' }}</div>

    </div>

    <div class="vertical-scroll-viewport" #verticalScrollViewport>
      <div *uiScroll="let projectKey of projectDataSource">
        <ng-container
          *ngTemplateOutlet="projectTemplate; context: {project: projects[projectKey], dayIndex: dayIndex, day: day }"></ng-container>
      </div>
    </div>

  </div>

</div>

<ng-template #projectTemplate let-project="project" let-dayIndex="dayIndex" let-day="day">
  <div class="row body">

    <div class="task-cell" *ngFor="let scale of scaleRange; let index = index" [style.width.px]="elmtCellWidth">
      <div class="task-cell-with-event"
           *ngIf="(dayIndex === 0 && (day | date ) >= ( project.date.from | date ) &&
                    (project.date.from | date: 'HH:mm') >= (scale | date: 'HH:mm') &&
                    (project.date.from | date: 'HH:mm') < (scaleRange[index+1] | date: 'HH:mm')) ||
                    (day | date ) === ( project.date.from | date ) &&
                    (project.date.from | date: 'HH:mm') >= (scale | date: 'HH:mm') &&
                    (project.date.from | date: 'HH:mm') < (scaleRange[index+1] | date: 'HH:mm')"
           [style.width.px]="project._projectDurationWidth"
           [ngStyle]="{
                          'border-radius': dayIndex === 0 && (day | date ) >= ( project.date.from | date ) && index === 0 ? '0px' : '5px',
                          'border-left': dayIndex === 0 && (day | date ) >= ( project.date.from | date ) && index === 0 ? '0px' : '0.2rem solid #04040445'
                        }"
           [style.left.px]="project._projectStartPosition">
        {{project.name}}
        <b>Início:</b> {{project.date.from | date: 'd MMM yyyy - HH:mm'}}
        <b>Fim:</b> {{project.date.to | date: 'd MMM yyyy - HH:mm'}}</div>

    </div>

  </div>

  <ng-template [ngIf]="project._hasTasks && !project.collapsed">
    <div *ngFor="let task of project.tasks | keyvalue">
      <ng-container *ngTemplateOutlet="tasksTemplate; context: {task: task.value, dayIndex: dayIndex, day: day}"></ng-container>
    </div>
  </ng-template>

  <ng-template [ngIf]="project._hasChildren && !project.collapsed">
    <div *ngFor="let proj of project.projectChildren | keyvalue">
      <ng-container *ngTemplateOutlet="projectTemplate; context: {project: proj.value, dayIndex: dayIndex, day: day}"></ng-container>
    </div>
  </ng-template>

</ng-template>

<ng-template #tasksTemplate let-task="task" let-dayIndex="dayIndex" let-day="day">
  <div class="row body">
    <div class="task-cell" *ngFor="let scale of scaleRange; let index = index" [style.width.px]="elmtCellWidth">
      <div class="task-cell-with-event"
           *ngIf="(day | date ) === ( task.date.from | date ) &&
                    (task.date.from | date: 'HH:mm') >= (scale | date: 'HH:mm') &&
                    (task.date.from | date: 'HH:mm') < (scaleRange[index+1] | date: 'HH:mm')"
           [style.width.px]="task._taskDurationWidth"
           [ngStyle]="{
                          'border-radius': dayIndex === 0 && (day | date ) >= ( task.date.from | date ) && index === 0 ? '0px' : '5px',
                          'border-left': dayIndex === 0 && (day | date ) >= ( task.date.from | date ) && index === 0 ? '0px' : '0.2rem solid #04040445'
                        }"
           [style.left.px]="task._taskStartPosition">
        <b>Início:</b> {{task.date.from | date: 'd MMM yyyy - HH:mm'}}
        <b>Fim:</b> {{task.date.to | date: 'd MMM yyyy - HH:mm'}}</div>
    </div>
  </div>
</ng-template>


<!--
<div id="tasks-content" [style.height.rem]="itemsNumber * 2 + 4">

    <div *ngFor="let day of totalDateRange; let dayIndex = index" class="example-item" [style.width.px]="itemSize">

      <div class="container-fluid px-0">

        <div class="row header">
          <div class="task-day">{{day | date}}</div>
        </div>

        <div class="row body bg-light">

          <div class="task-cell" *ngFor="let scale of scaleRange"
               [style.width.px]="elmtCellWidth"> {{ scale | date: 'HH:mm' }}</div>
        </div>

        <div *ngFor="let projectKey of projectsKeys">
          <ng-container *ngTemplateOutlet="projectTemplate; context: {project: projects[projectKey], dayIndex: dayIndex, day: day }"></ng-container>
        </div>

      </div>

    </div>

</div>


<ng-template #projectTemplate let-project="project" let-dayIndex="dayIndex" let-day="day">
  <div class="row body" [style.width.px]="( elmtCellWidth * (24 / hourScaleSelected) ) * totalDateRange.length">
    <div class="task-cell" *ngFor="let scale of scaleRange; let index = index" [style.width.px]="elmtCellWidth">
      <div class="task-cell-with-event"
           *ngIf="(dayIndex === 0 && (day | date ) >= ( project.date.from | date ) &&
                    (project.date.from | date: 'HH:mm') >= (scale | date: 'HH:mm') &&
                    (project.date.from | date: 'HH:mm') < (scaleRange[index+1] | date: 'HH:mm')) ||
                    (day | date ) === ( project.date.from | date ) &&
                    (project.date.from | date: 'HH:mm') >= (scale | date: 'HH:mm') &&
                    (project.date.from | date: 'HH:mm') < (scaleRange[index+1] | date: 'HH:mm')"
           [style.width.px]="findEventDuration(project, day)"
           [ngStyle]="{
                          'border-radius': dayIndex === 0 && (day | date ) >= ( project.date.from | date ) && index === 0 ? '0px' : '5px',
                          'border-left': dayIndex === 0 && (day | date ) >= ( project.date.from | date ) && index === 0 ? '0px' : '0.2rem solid #04040445'
                        }"
           [style.left.px]="findEventStart(project, scale)">
        <b>Início:</b> {{project.date.from | date: 'd MMM yyyy - HH:mm'}}
        <b>Fim:</b> {{project.date.to | date: 'd MMM yyyy - HH:mm'}}</div>
    </div>
  </div>

  <ng-template [ngIf]="project.tasks && project.tasks.length > 0 && !project.collapsed">
    <div *ngFor="let task of project.tasks">
      <ng-container *ngTemplateOutlet="tasksTemplate; context: {task: task, dayIndex: dayIndex, day: day}"></ng-container>
    </div>
  </ng-template>

  <ng-template [ngIf]="project.projectChildren && project.projectChildren.length > 0 && !project.collapsed">
    <div *ngFor="let proj of project.projectChildren">
      <ng-container *ngTemplateOutlet="projectTemplate; context: {project: proj, dayIndex: dayIndex, day: day}"></ng-container>
    </div>
  </ng-template>

</ng-template>

<ng-template #tasksTemplate let-task="task" let-dayIndex="dayIndex" let-day="day">
  <div class="row body" [style.width.px]="( elmtCellWidth * (24 / hourScaleSelected) ) * totalDateRange.length">
    <div class="task-cell" *ngFor="let scale of scaleRange; let index = index" [style.width.px]="elmtCellWidth">
      <div class="task-cell-with-event"
           *ngIf="(day | date ) === ( task.date.from | date ) &&
                    (task.date.from | date: 'HH:mm') >= (scale | date: 'HH:mm') &&
                    (task.date.from | date: 'HH:mm') < (scaleRange[index+1] | date: 'HH:mm')"
           [style.width.px]="(findEventDuration(task) / hourScaleSelected) * elmtCellWidth"
           [ngStyle]="{
                          'border-radius': dayIndex === 0 && (day | date ) >= ( task.date.from | date ) && index === 0 ? '0px' : '5px',
                          'border-left': dayIndex === 0 && (day | date ) >= ( task.date.from | date ) && index === 0 ? '0px' : '0.2rem solid #04040445'
                        }"
           [style.left.px]="findEventStart(task, scale)">
        <b>Início:</b> {{task.date.from | date: 'd MMM yyyy - HH:mm'}}
        <b>Fim:</b> {{task.date.to | date: 'd MMM yyyy - HH:mm'}}</div>
    </div>
  </div>
</ng-template>
-->
