<div id="tasks-content" class="container-fluid h-100 px-0">

  <div id="background-content" #horizontalScrollViewPort class="container-fluid h-100 px-0">

    <div id="background-layer" class="container-fluid px-0"
         [style.width.px]="dateCellWidth * totalDateRange.length"
         [style.margin-left.px]="freeSpaceLeft">

      <ng-template ngFor let-date [ngForOf]="totalDateRange">
        <div class="date-container" [style.width.px]="dateCellWidth">
          <div class="date-cell text-center bg-light" [style.width.px]="dateCellWidth">{{date | date}}</div>
          <div class="hours-cell text-center bg-light" *ngFor="let hour of scaleRange"
               [style.width.px]="elmtCellWidth">{{hour | date: 'HH:mm'}}</div>
        </div>
      </ng-template>

      <div class="background-tasks-container" #verticalScrollViewPort>

        <div class="guide-line" *ngIf="guideLineVisible" [style.left.px]="guideLinePositionLeft">
          <div class="guide-line-time-info">
            {{guideLineTimeInfo | date: 'HH:mm'}}
          </div>
        </div>

        <div class="background-tasks-content" [style.margin-top.px]="freeSpaceTop">
          <ng-template ngFor let-itemKey [ngForOf]="itemsKeysDatasource">
            <ng-container *ngTemplateOutlet="itemTemplate; context: {item: items[itemKey]}"></ng-container>
          </ng-template>
        </div>
      </div>

    </div>


  </div>

</div>


<!--==================================================================-->

<ng-template #itemTemplate let-item="item">

  <div class="item-resizable"
       cdkDrag
       cdkDragLockAxis="x"
       (cdkDragStarted)="startDrag($event)"
       (cdkDragMoved)="dragMoved($event, item)"
       (cdkDragEnded)="itemDragged($event, item)"
       [ngStyle]="item._detailsStyle"
       [style.left.px]="-freeSpaceLeft">

    <div class="left-circle"></div>

    <div class="left-limit"
         cdkDrag
         cdkDragLockAxis="x"
         (cdkDragStarted)="startResizeTaskLeftSide($event, item)"
         (cdkDragMoved)="resizingTaskLeftSide($event, item)"
         (cdkDragEnded)="endResizeTaskLeftSide($event, item)"></div>

    <div class="project-cell"
         [style.width]="item._detailsStyle['width']"
         cdkDragHandle>
      {{item.name}}
    </div>

    <div class="right-limit"
         cdkDrag
         cdkDragLockAxis="x"
         (cdkDragStarted)="startResizeTaskRightSide($event, item)"
         (cdkDragMoved)="resizingTaskRightSide($event, item)"
         (cdkDragEnded)="endResizeTaskRightSide($event, item)"></div>

    <div class="right-circle"></div>

    <ng-template [ngIf]="item._hasNextItems">
      <ng-template ngFor let-nextItem [ngForOf]="item.nextItems | keyvalue">
        <svg class="arrow-next-item" width="400" height="400" [style.left]="">
          <path d="M0 0 H200" fill="none" stroke-width="3" stroke="red"></path>
        </svg>
      </ng-template>
    </ng-template>

  </div>

  <ng-template [ngIf]="item._hasChildren && !item.collapsed">

    <ng-template ngFor let-itemKey [ngForOf]="item._itemsChildrenKeys">
      <ng-container *ngTemplateOutlet="itemTemplate; context: {item: item.itemsChildren[itemKey]}"></ng-container>
    </ng-template>

  </ng-template>
</ng-template>


