

#tasks-content {
  width: 100%;
  overflow-x: auto;

  .row {
    overflow: hidden;
    box-sizing: content-box;
    height: 2rem;
    border-bottom: 1px solid #d9dada;
    border-left: 1px solid #d9dada;

    &:hover {
      background-color: rgba(117, 119, 119, 0.2);
    }

    .task-day {
      height: 100%;
      text-align: center;
      line-height: 2rem;
      border-right: 1px solid #d9dada;
    }

    .task-cell {
      position: relative;
      height: 100%;
      display: inline-block;
      border-right: 1px solid #d9dada;

      &:hover {
        background-color: rgba(117, 119, 119, 0.21);
      }
    }
  }
}

.task-cell-with-event {
  position: absolute;
  z-index: 5;
  background-color: orange;
  width: 140px;
  height: 1.8rem;
  border: 0.05rem solid #04040445;
  border-radius: 5px;
  top: 0.1rem;

  &:hover {
    background-color: #e18c00;
  }
}

