#tasks-content {
  position: relative;
  overflow: auto;

  #background-layer {
    position: absolute;

    .date-container {

      display: inline-block;
      .date-cell, .hours-cell {
        height: 2rem;
        line-height: 2rem;
        border: 1px solid #d9dada;
        border-bottom: none;
        border-right: none;
      }

      .hours-cell {
        display: inline-block;
        height: 2rem;
        line-height: 2rem;
        border: 1px solid #d9dada;
        border-bottom: none;
        border-right: none;
      }

    }

    .tasks-container {
      height: 26rem;
      overflow-y: auto;

      .elmt-cell {
        display: inline-block;
        height: 2rem;
        line-height: 2rem;
        border: 1px solid #d9dada;
        border-bottom: none;
        border-right: none;

        &:hover {
          background-color: rgba(169, 169, 169, 0.5);
        }
      }
    }
  }
}
