<div id="tasks-description" class="container-fluid px-0 h-100">
  <div class="row header">
    <div class="task-name">
      Nome
    </div>
    <div class="task-from-date">
      <i class="fa fa-calendar" aria-hidden="true"></i> De
    </div>
    <div class="task-to-date">
      <i class="fa fa-calendar" aria-hidden="true"></i> Até
    </div>
  </div>

  <div class="row header bg-light">
  </div>

  <div cdkDropList (cdkDropListDropped)="dropInside($event)" [cdkDropListData]="itemsKeys">

    <div class="scroll-viewport" #scrollViewPort>

      <div class="scroll-viewport-content" [style.margin-top.px]="freeSpaceTop">
        <div *ngFor="let itemKey of itemsKeysDatasource" cdkDrag [cdkDragData]="itemKey">

          <ng-container *ngTemplateOutlet="templateItem; context: {item: items[itemKey]}"></ng-container>

        </div>
      </div>

    </div>

  </div>

</div>


<!-- templates de função recursiva para percorrer o objeto até ao fim (profundidade desconhecida) -->

<ng-template #templateItem let-item="item">

  <div class="row body">
    <div class="task-name"
         *ngIf="item._hasChildren"
         [ngStyle]="item._descriptionStyle">

      <i class="fa fa-chevron-up" aria-hidden="true"
         (click)="toggleCollapseProject(item)" *ngIf="!item.collapsed"></i>
      <i class="fa fa-chevron-down" aria-hidden="true"
         (click)="toggleCollapseProject(item)" *ngIf="item.collapsed"></i> {{item.name}}

    </div>

    <div class="task-name"
         *ngIf="!(item._hasChildren)"
         [ngStyle]="item._descriptionStyle">
      <i class="fa fa-minus" aria-hidden="true"></i> {{item.name}}
    </div>

    <div class="task-from-date">

      <ng-container *ngTemplateOutlet="fromCellTemplate; context: {item: item}"></ng-container>

    </div>

    <div class="task-to-date">

      <ng-container *ngTemplateOutlet="toCellTemplate; context: {item: item}"></ng-container>

    </div>
  </div>

  <ng-template [ngIf]="item._hasChildren && !item.collapsed">
    <div cdkDropList (cdkDropListDropped)="dropInside($event, item)" [cdkDropListData]="item._itemsChildrenKeys">
      <div *ngFor="let projKey of item._itemsChildrenKeys" cdkDrag [cdkDragData]="projKey">
        <ng-container
          *ngTemplateOutlet="templateItem; context: { item: item.itemsChildren[projKey] }"></ng-container>
      </div>
    </div>
  </ng-template>

</ng-template>

<!--template dos date e time picker da data 'from' -->
<ng-template #fromCellTemplate let-item="item">
  <ng-template #popFromDateTitle>
    <div class="container text-right px-0">
      <i class="fa fa-times" aria-hidden="true" (click)="dateFromPickerPopover.close()"></i>
    </div>
  </ng-template>

  <ng-template #popFromDateContent>

    <mat-form-field class="date-picker">
      <input matInput
             (dateInput)="fromDateChanged($event, item)"
             [matDatepicker]="fromDatePicker"
             [ngModel]="item.date.from">
      <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #fromDatePicker></mat-datepicker>
    </mat-form-field>

  </ng-template>

  <ng-template #popFromTimeTitle>
    <div class="container text-right px-0">
      <i class="fa fa-times" aria-hidden="true" (click)="timeFromPickerPopover.close()"></i>
    </div>
  </ng-template>

  <ng-template #popFromTimeContent>
    <ngb-timepicker size="small" [ngModel]="item.date.from" (ngModelChange)="fromTimeChanged($event, item)"></ngb-timepicker>
  </ng-template>

  <button
    type="button"
    class="btn btn-outline-secondary"
    #dateFromPickerPopover="ngbPopover"
    [disablePopover]="!datePickerActive"
    [autoClose]="false"
    triggers="manual"
    (click)="dateFromPickerPopover.toggle()"
    [popoverTitle]="popFromDateTitle"
    [ngbPopover]="popFromDateContent">
    {{ item.date.from | date: 'd MMM yyyy' }}
  </button>

  <button
    type="button"
    class="btn btn-outline-secondary"
    #timeFromPickerPopover="ngbPopover"
    [disablePopover]="!timePickerActive"
    [autoClose]="false"
    triggers="manual"
    (click)="timeFromPickerPopover.toggle()"
    [popoverTitle]="popFromTimeTitle"
    [ngbPopover]="popFromTimeContent">
    {{ item.date.from | date: 'HH:mm' }}
  </button>
</ng-template>

<!--template dos date e time picker da data 'to'-->
<ng-template #toCellTemplate let-item="item">
  <ng-template #popToDateTitle>
    <div class="container text-right px-0">
      <i class="fa fa-times" aria-hidden="true" (click)="dateToPickerPopover.close()"></i>
    </div>
  </ng-template>

  <ng-template #popToDateContent>

    <mat-form-field class="date-picker">
      <input matInput
             (dateInput)="toDateChanged($event, item)"
             [matDatepicker]="toDatePicker"
             [ngModel]="item.date.to">
      <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #toDatePicker></mat-datepicker>
    </mat-form-field>

  </ng-template>

  <ng-template #popToTimeTitle>
    <div class="container text-right px-0">
      <i class="fa fa-times" aria-hidden="true" (click)="timeToPickerPopover.close()"></i>
    </div>
  </ng-template>

  <ng-template #popToTimeContent>

    <ngb-timepicker size="small" [ngModel]="item.date.to" (ngModelChange)="toTimeChanged($event, item)"></ngb-timepicker>

  </ng-template>

  <button
    type="button"
    class="btn btn-outline-secondary"
    #dateToPickerPopover="ngbPopover"
    [disablePopover]="!datePickerActive"
    [autoClose]="false"
    triggers="manual"
    (click)="dateToPickerPopover.toggle()"
    [popoverTitle]="popToDateTitle"
    [ngbPopover]="popToDateContent">
    {{ item.date.to | date: 'd MMM yyyy' }}
  </button>

  <button
    type="button"
    class="btn btn-outline-secondary"
    #timeToPickerPopover="ngbPopover"
    [disablePopover]="!timePickerActive"
    [autoClose]="false"
    triggers="manual"
    (click)="timeToPickerPopover.toggle()"
    [popoverTitle]="popToTimeTitle"
    [ngbPopover]="popToTimeContent">
    {{ item.date.to | date: 'HH:mm' }}
  </button>
</ng-template>
